[user]
    email = manaten@manaten.net
    name = manaten

[core]
    editor = vim
    sparsecheckout = true
    excludesfile = ~/.globalignore

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto

[push]
#    default = upstream
    default = tracking    

[commit]
    template = ~/.gitmessage

[alias]
    br = branch
    co = checkout
    st = status -s
    ci = commit -av
    su = submodule update
# http://yuroyoro.hatenablog.com/entry/2012/10/22/153429
    ch = "!f() { git cherry -v "$@" | awk '{ if($1 == \"+\"){ color = \"green\" } if($1 == \"-\"){ color = \"red\" } cmd = \"git show --date=short --no-notes --pretty=format:\\047%C\" color $1 \" %h %Cgreen%cd %Cblue%cn%x09%Creset%s\\047 --summary \" $2; cmd | getline t; close(cmd); print t }' ;}; f"
    root = "!cd `git rev-parse --show-toplevel`"
