[user]
    email = manaten@manaten.net
    name = manaten

[core]
    editor = vim

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto

[push]
    default = tracking

[alias]
    co = checkout
    st = status -s
    ci = commit -a
