[tasks.aws-sso-login]
alias = "al"
description = "SSOでログインして、現在のセッションに認証情報を設定する"
run = "aws sts get-caller-identity >/dev/null 2>&1 || aws sso login"

[settings]
idiomatic_version_file_enable_tools = ["node"]
experimental = true

[tools]
"npm:@anthropic-ai/claude-code" = "latest"
"npm:@github/copilot" = "latest"
"aqua:junegunn/fzf" = "latest"
"aqua:x-motemen/ghq" = "latest"
"aqua:BurntSushi/ripgrep" = "latest"
"aqua:jqlang/jq" = "latest"
usage = "latest"
"aqua:harelba/q" = "latest"

[tasks.update-template]
description = "update node repository by template"
run = "git co -b chore/template && git fetch template && git merge template/main"
